# Maven/Gradle 빌드 디렉토리
/target/
build/

# IntelliJ IDEA, Eclipse, VS Code 등 IDE 파일
.idea/
*.iml
*.class
*.log
*.swp
*.swo
/.settings/
/.project
/.classpath
.vscode/

# OS 파일
.DS_Store
Thumbs.db

# 환경설정 파일
*.properties
*.yml
*.env

# 로그 파일
*.log
/logs/
/*.log.*

# 특정 툴 생성 파일
.gradle/
/!gradle-wrapper.jar
/coverage/
*.pid

# JAR/WAR/ZIP 파일
*.jar
*.war
*.zip

# 테스트 결과 파일
/test-output/